extends layout

block content
  h1= title

  h2 Dynamic content

  p The library has the following record counts:

  ul
    li #[strong Items:] !{item_count}
    li #[strong Category:] !{category_count}
